doctype html
html
  head
      block head
        title="Express Starter App"
        link(rel='stylesheet' href='/stylesheets/reset.css')
  body
    nav
      div auth#{locals.authenticated}
      if locals.authenticated

        span Welcome #{user.username}!
        form(action='/users/sign-out' method='post')
          button(type='submit') Sign-out
      else
        span()
          a(href='/users/sign-in') Sign-In
          a(href='/users/register') Register
    block content
