/* Post Form Page Specific Styles */
html, body {
    height: 100%;
    background-color: #000;
}


.full-screen {
    height: 100%;
  }

#content-block {
    background:linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,.3)), url('../imgs/askMeeple-newPost-background.jpg');
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
}

/* Form Specific Style */
form {
    padding-bottom: 16px;
}

#form-body {
    background: #fff;
    box-shadow: 1px 1px 10px black;
    width: 45%;
    margin: auto;
    margin-top: 6%;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
}

.tags p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

.tag-group input {
    display: inline-block;
}

.tag-group label {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

p a {
    font-size: 12px;
}

p a:hover {
    color: #f56522;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
    #form-body {
        margin-top: 6%;
        width: 40%;
    }
}

@media screen and (max-width: 767px) {
    #form-body {
        margin-top: 15%;
        width: 80%;
    }
}
