/* Page Specific Styles */
html {
    background:linear-gradient(0deg, rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../imgs/askMeeple-signIn-background.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
}

body {
    width: 100%;
}

#content-block {
    height: 80%;
    display: flex;
    align-items: center;
}

/* Form Specific Style */
#form-body {
    background: #fff;
    box-shadow: 1px 1px 10px black;
    width: 25%;
    margin: auto;
    padding: 2% 0px 2% 0px;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
}

#account-link {
    margin: 0 auto;
}

p a {
    font-size: 12px;
}

p a:hover {
    color: #f56522;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
    #content-block {
        height: 50%;
        display: flex;
        align-items: center;
    }

    #form-body {
        margin-top: 15%;
        width: 40%;
        padding: 3%;
    }
}

@media screen and (max-width: 767px) {
    #form-body {
        margin-top: 14%;
        width: 60%;
        padding: 2%;
    }
}


@media screen and (max-width: 415px) {
    #form-body {
        margin-top: 30%;
        width: 60%;
        padding: 3%;
    }
}

@media screen and (max-width: 280px) {
    #form-body {
        margin-top: 30%;
        width: 75%;
        padding: 3%;
    }
}
