/* Glabal Styles */
body {
  font: 16px  'Open Sans', sans-serif;
  height: 100%;
  margin: 0px;
}

a {
  color: #0059b3;
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  color: #0059b3;
}

/* Navigation Bar Styles */
nav {
  z-index: 9999;
  position: fixed;
  background: #0059b3;
  color: #fff;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 1px 10px black;
}

nav img {
  width: 200px;
}

nav a {
  color: #fff;
}

nav#left {
}

a.navBtn {
  display: block;
  background-color: #f56522;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  padding: 2px 5px;
  margin-bottom: 5px;
}

a.navBtn:hover {
  background-color: #c75520;
}


/* Form Styles */

form {
  margin: 0 auto;
}

form label {
  display: block;
  padding: 1px;
  padding-top: 10px;
  font-size: 14px;
  font-family: 'Josefin Sans', sans-serif;

}

form input {
  border: 2px solid #0059b3;
  background-color: #eee;
  margin-bottom: 10px;
  border-radius: 3px;
}

form button {
  background-color: #0059b3;
  color: #fff;
  border: 0px solid;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 5px;
  margin-right: 8px;
  padding: 1px 8px 2px 8px;
}

form button:hover {
  background-color: #f56522;
}

form a:hover  {
  color: #f56522;
}

/* Error Styles */
.alert, .alert li {
  font-family: 'Open Sans', sans-serif;
  margin: 3px;
}

.alert {
  background-color: rgba(255, 15, 15, .5);
  text-align: center;
  font-size: 14px;
}

.alert ul {
  margin: 8px;
  padding: 12px;
}

.alert li {
  width: 90%;
  text-align: left;
  font-size: 12px;
}
