doctype html
html
  head
      block head
        title="Ask Meeple"
        link(rel="icon" type="image/ico" href="/favicon.ico")
        script(src="/javascripts/index.js" type="module")
        script(src="https://kit.fontawesome.com/783707dd26.js" crossorigin="anonymous")
        link(rel="stylesheet" href="/stylesheets/reset.css")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Open+Sans&display=swap" rel="stylesheet")
        meta(content="width=device-width, initial-scale=1" name="viewport")
  body
    nav
      a(href="/"): img(src="/imgs/askMeeple_logo_orange.png" alt="Ask Meeple Logo")
      span
        a.navBtn.new-post(href="/new-post" title="Create a new post"): i(class="far fa-edit")
        span#mobile
          //- a.navBtn(href="#"): i(class="fas fa-bars")
          button(onclick="" class="mobile-menu"): i(class="fas fa-bars")
      form(action="/search" method="get" role="search" class="hideOnMobile")
        input(type="search" name="term" id="search" placeholder="Search")
        button(type="submit"): i(class="fas fa-search")
      if locals.authenticated
        .loggedIn
          span Welcome, #{user.username}!
          form(action='/users/sign-out' method='post')
            button(type='submit') Sign-Out
      else
        .notLoggedIn
          //- form#demoNav(action='/demo-user' method='post')
          //-   button.navBtn.hideOnMobile(type='submit' title="Sign-In as Demo User") Demo User
          button#demoBtn.navBtn.hideOnMobile(type='button' title="Sign-in as Demo User") Demo User
          a.navBtn.hideOnMobile(href='/users/sign-in' title="Sign-in to an existing account") Sign-In
          a.navBtn.hideOnMobile(href='/users/register' title="Create a new account") Register

    #mobile-navigation
      if locals.authenticated
        .loggedInMobile
          span Welcome, #{user.username}!
          form(action='/users/sign-out' method='post')
            button(type='submit') Sign-Out
      else
        .mobileNotLoggedIn
          //- form#demoNav-mobile(action='/demo-user' method='post')
          //-   button.navBtnMobile(type='submit' title="Sign-In as Demo User") Demo User
          button#demoBtn.navBtn.hideOnMobile(type='button' title="Sign-in as Demo User") Demo User
          button.navBtnMobile(onclick="window.location.href='/users/sign-in'" title="Sign-in to an existing account") Sign-In
          button.navBtnMobile(onclick="window.location.href='/users/register'" title="Create a new account") Register
      form(action="/search" method="get" role="search")
          input(type="search" name="term" id="search-mobile" placeholder="Search")
          button(type="submit"): i(class="fas fa-search")

    block content
