#content-block {
    background:linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,.3)), url('../imgs/askMeeple-editPostForm-background.jpg');
    background-position: center center;
    background-size: cover;
}

.tag-selection {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 767px) {
   .tag-selection {
      display: block;
   }
}
