/* Post Form Page Specific Styles */
html, body {
    background-color: #000;
}


#content-block {
    background:linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,.3)), url('../imgs/askMeeple-newPost-background.jpg');
    background-position: center center;
    background-size: cover;
    padding: 5%;
}

/* Form Specific Style */
#form-body form {
    width: 80%;
}

#form-body {
    background: #fff;
    box-shadow: 1px 1px 10px black;
    width: 60%;
    margin: auto;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
}

.tags {
    margin-bottom: 10px;
}

.tags p {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

.tag-selection {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tag-group input {
    display: inline-block;
}

.tag-group label {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

p a {
    font-size: 12px;
}

p a:hover {
    color: #f56522;
}

/* Responsive Styles */
@media screen and (max-width: 767px) {
    .full-screen {
        height: auto;
    }

    #form-body {
        width: 90%;
    }

    #form-body form {
        width: 90%;
    }

   .tag-selection {
      display: block;
   }
}
