/* Post Styles */
#content-block {
    max-width: 80%;
    margin: 0 auto;
 }

 #content-block h2 {
     font-size: 18px;
     color: #0059b3;
     font-weight: 700;
 }

 .comments-list, .post-body, .new-comment {
     margin: 20px;
     padding: 15px;
 }

 .post-body {
     border: 1px solid #bbb;
     background-color: #fff;
     margin-bottom: 1%;
     font-size: 14px;
 }

 #creater-and-date, #creater-and-date > h3 {
     font-family: 'Open Sans', sans-serif;
     font-size: 11px;
 }

 #post-content > img {
    max-width: 50%;
 }

 .new-comment {
     padding-left: 0px;
 }

 .comments-list h3 {
     font-size: 16px;
     font-weight: 700;
     margin-bottom: 1%;
 }

 .comment-body {
     padding: 20px;
     border: 1px solid #bbb;
     background-color: #fff;
     margin-bottom: 5px;
     font-size: 14px;
 }

 .comment-body h4 {
    font-size: 11px;
    color: #0059b3;
    font-weight: 700;
 }


 .delete-comment{
    justify-content: flex-end;
 }

 /* --- Responsive Layout */
 @media screen and (max-width: 767px) {
     #content-block {
         margin-top: 20px;
         max-width: 90%;
     }

     .comments-list, .post-body, .new-comment {
         margin: 2%;
     }

     #post-content > img {
         max-width: 100%;
      }

     .new-comment {
         padding-left: 0px;
     }
 }



 /* Comment Form Styles */
 textarea ::placeholder {
     font-weight: 700;
     font-family: 'Open Sans', sans-serif;
     font-size: 14px;
 }

 textarea {
    width: 500px;
    height: 100px;
    padding: 2px;
    border-radius: 3px;
    padding: 3px;
    font-size: 14px;
 }

 /* --- Responsive Comments */
 @media screen and (max-width: 767px) {
     textarea {
         width: 100%;
     }
 }
