/* Page Specific Styles */
html, body {
    background-color: #000;
}

#content-block {
    background:linear-gradient(0deg, rgba(0,0,0,1), rgba(0,0,0,.3)), url('../imgs/askMeeple-register-background.jpg');
    background-position: center center;
    background-size: cover;
    padding: 4%;
}

/* Form Specific Style */
#form-body {
    background: #fff;
    box-shadow: 1px 1px 10px black;
    width: 25%;
    margin: auto;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
}

#sign-in-link {
    margin: 0 auto;
}

#sign-in-link > form {
    padding-top: 0;
}

#sign-in-link p{
    margin-top: 0;
}


p a {
    font-size: 12px;
}

p a:hover {
    color: #f56522;
}

/* Responsive Styles */
@media screen and (max-width: 1024px) {
    #form-body {
        width: 40%;
    }
}

@media screen and (max-width: 767px) {
    #form-body {
        width: 80%;
    }
}
